/* 
    Document   : main
    Created on : 6-Apr-2013, 3:31:13 PM
    Author     : patrick dube
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.titlec {
  font-size: small;
}
ul.videos2 li {
  width: 10em;
  margin-bottom: 1em;
}
ul.videos2
{
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 2em;
  list-style: none;
  overflow-y: auto;
}

#bar{
/*    display: table-cell;*/
    border:1px solid black;
    min-width:1500px;
    
}

#bar input[type=text]{
    width: 860px;
    height:20px;
    margin-bottom: 20px;
    margin-top:20px;
    vertical-align:top
}

#bar input[type=image]{
    vertical-align:top;
    margin-top: 18px;
    font-size:large
}

#playerContainer {
    min-width: 1100px;
    height: 750px;
    width: 70%;
    float:left;
    border:1px solid black
}

#videos2 {
    float: left;
    height:750px; width:25%; overflow-y: auto;border:1px solid black; margin-left: 10px
}

#content{
    width:1500px;
    overflow-x: auto;
}


