/* 
    Document   : main
    Created on : 6-Apr-2013, 3:31:13 PM
    Author     : patrick dube
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.titlec {
  font-size: small;
}
ul.videos li {
/*  width: 10em;*/
  margin-bottom: 1em;
}
ul.videos
{
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 2em;
  list-style: none;
  overflow-y: auto;
}

body{
    padding:0;
    margin:0;
}

#bar{
/*    display: table-cell;*/
    min-width:1500px;
    background: #EDEDED;
    
}

#bar input[type=text]{
    width: 860px;
    height:20px;
    margin-bottom: 20px;
    margin-top:20px;
    vertical-align:top
}

#bar input[type=image]{
    vertical-align:top;
    margin-top: 18px;
    font-size:large
}

#playerContainer {
    min-width: 1100px;
    padding-left:100px;
    padding-top:30px;
    height: 750px;
    float:left;
}

.sidebar{
    height:750px;
}

#sidebar{
    float:right;
}

#desc ,#vids {
    float: left;
    min-width: 300px;
    max-width:300px;
    height:750px;
    overflow-y: auto;
    word-wrap:break-word;
}

#content{
    width:1900px;
    overflow-x: auto;
}

#queue{
    position:absolute;
    bottom:0;
    height:150px;
    background: #EDEDED;
    width:100%;

}

#queue li{
    display:inline;
    
}

.tabb {
    float:left;
    width:120px;
    display:inline;
    text-align: center;
    
}

